body {
    background-color: #111;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 100%;
    display: flex;

}

.statDiv p{
    height: 100px;
    line-height: 30px;
    text-align: center;
    width: 100px;
    border-radius: 10px;
    padding: 20px;
    background-color: #FAFAFA;
}

#statBar {
    border-radius: 20px;
    width: 800px;
    height: 30px;
    background-color: #FAFAFA;
}

.infectBar {
    border-radius: 20px;
    height: 30px;
    background-color: #F4511E;
}