body {
    background-color: #111;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 100%;
    display: flex;
}

.contentRight {
    display: flex;
    flex-direction: row;
}

.stat{
    margin: 0 0 20px 20px;
    height: 100px;
    line-height: 30px;
    text-align: center;
    width: 100px;
    border-radius: 10px;
    padding: 20px;
    background-color: #FAFAFA;
}

#statBar {
    border-radius: 20px;
    height: 30px;
    background-color: #FAFAFA;
}

.infectBar {
    border-radius: 20px;
    height: 30px;
    background-color: #F4511E;
}

#graphHolder {
    position: absolute;
    top: 0;
    right: 0;
}

.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 15px;
    border-radius: 5px;  
    background: #FFFFFF;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #F4511E;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #F4511E;
    cursor: pointer;
}

#input {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0 0 0 15px;
}

#input li {
    align-items: center;
    color: #FFF;
    display: flex;
    flex-direction: row;
}

#input li p {
    width: 150px;
}

@media (max-width: 1300px) {
    #graphHolder {
        position: relative;
    }
    .content {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .statDiv {
        display: flex;
        flex-direction: row;
    }

    .contentRight {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #input {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    #input li p {
        width: auto;
    }

    .stat{
        height: 50px;
        width: 50px;
        line-height: 12px;

    }
}